<div class="container">
    <header class="header">
        <div class="header-top">
            <h1>logo</h1>
            <p></p>
        </div>
        <nav class="main-nav">
            <ul class="menu-list">
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">главная</a>
                </li>
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">каталог продукции</a>
                </li>
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">подбор программы</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
