<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    {{> head }}
</head>
<body class="page__body">

<!--<div class="debug-grid">-->
<!--    <div>-->
<!--        <div>-->
<!--            <div></div>-->
<!--            <div></div>-->
<!--            <div></div>-->
<!--            <div></div>-->
<!--            <div></div>-->
<!--            <div></div>-->
<!--            <div></div>-->
<!--            <div></div>-->
<!--            <div></div>-->
<!--            <div></div>-->
<!--            <div></div>-->
<!--            <div></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

    {{> header }}

    {{> body }}

    {{> footer }}

<script src="assets/js/app.js"></script>
<!--<script>-->
<!--    function loadStyle(url) {-->
<!--        const link = document.createElement('link');-->
<!--        link.href = url;-->
<!--        link.rel = 'stylesheet';-->
<!--        document.body.appendChild(link);-->
<!--    }-->

<!--    loadStyle('assets/css/style.min.css');-->
<!--</script>-->
</body>
</html>
